table{
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}
th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
th{
  background-color: lightgrey;
}
.jumbotron{
  background-image: url("../img/vacation-2302009_1920.jpg");
  background-size: cover;
  margin-bottom: 0px;
}

.vertical-center{
  min-height: 100%;
  min-height: 100vh;

}
.display-3, .lead, .enjoy {
  color: white;
  text-align: center;
}
